;; user settings example file

;;;; set full user name and email for auto insert
(setq
  user-full-name "John Doe"
  user-mail-address "john@mail.com"
)

;; set preferred font
(cond (window-system
      (set-default-font "Monaco 14")
))
